html {
	height: 100%;
	/*
	margin: 0px;
	padding: 0px;
	*/
}

body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: Palatino, serif;
	font-size: 11px;
}

#nav {
	padding: 5px;
	background-color: #303030;
	color: #eee;
	font-size: 15px;
	width: 100;
	z-index: 1000;
}

#nav a{
	color: #eee;
}

#wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background: #f0f0f0;
	/*background-image:url("background.png");*/
	/*background-origin: content-box;*/
	background-image:
		linear-gradient(rgba(255, 255, 255, .2) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255, 255, 255, .2) 2px, transparent 2px);
	background-size: 100px 100px;
}

.context {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #f0f0f0;
	/*background-image:url("background.png");*/
	/*background-origin: content-box;*/
  background-image:
  	linear-gradient(rgba(255, 255, 255, .2) 2px, transparent 2px),
  	linear-gradient(90deg, rgba(255, 255, 255, .2) 2px, transparent 2px);
  background-size: 100px 100px;
}

.context .offwhite{
	background: #c1c1c1;
	background-image:
		linear-gradient(rgba(255, 255, 255, .2) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255, 255, 255, .2) 2px, transparent 2px);
	background-size: 100px 100px;
}

.plane {
	position: absolute;
	width: 10px;
	height: 10px;
}

.subplane{
	background: #f0f0f0;
	position: absolute;
	width: 1200px;
	height: 800px;
	background-image:
		linear-gradient(rgba(255, 255, 255, .2) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255, 255, 255, .2) 2px, transparent 2px);
	background-size: 100px 100px;
}

.offwhite{
	background: #c1c1c1;
	position: absolute;
	width: 1200px;
	height: 800px;
	background-image:
		linear-gradient(rgba(255, 255, 255, .2) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255, 255, 255, .2) 2px, transparent 2px);
	background-size: 100px 100px;
}

.resizehandle{
	position:absolute;
	background-color: blue;
	width: 50px;
	height: 50px;
}

#programMenu {
	position: absolute;
	width: 245px;
	padding: 10px;
    background-color: #303030;
}

#perModuleMenu {
	position: absolute;
	width: 80px;
	padding: 3px;
    background-color: #303030;
}

#floater {
	position: absolute;
	font-weight: normal;
	font-style: none;
	color: #eee;
	background-color: blue;
	font-size: 12px;
	padding: 7px 5px 6px 5px;
}

.title {
	font-size: 15px;
	font-weight: bold;
	color: #eee;
}

/* ohboi */

.float {
	position:absolute;
}

/* is title and state */
.defcore {
	width: 275px;
	height: 20px;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	color: #eee;
	padding-left:5px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	overflow: hidden;
	position: absolute;
  background-color: #303030;
}

.defcore:hover{
	background-color: #ccc;
	cursor: grab
}

.defbutton {
	position: absolute;
}

.input {
	position:absolute;
	width: 100px;
	height: 20px;
	text-align: left;
	font-size: 11px;
	background-color: #1a1a1a;
	color: #eee;
}

.input:hover {
	cursor: pointer;
}

.inputheader {
	background-color: red;
	padding: 2px;
}

.output {
	position: absolute;
	width: 100px;
	height: 20px;
	text-align: right;
	font-size: 11px;
	background-color: #1a1a1a;
	color: #eee;
}

.output:hover {
	cursor: grab;
}

.outputheader {
	background-color: blue;
	padding: 2px;
}

.states {
	padding: 0 2px 0 2px;
	color: #eee;
}

.stateheader{
	padding-left: 2px;
	padding-bottom: 5px;
	padding-top: 4px;
	font-size: 11px;
	color: #eee;
}

.state {
	position: absolute;
	font-size: 11px;
	padding: 5px;
	width: 275px;
	background-color: #1a1a1a;
	color: #eee;
}

.booleanspan {
	width: 100px;
	padding: 2px;
}

.booleanspan:hover{
	cursor: pointer;
}

/* native elements, */
.hunk{
	position:absolute;
	background-color: #fff;
}

/* native elements, */
.loosebutton{
	position:absolute;
	color: #fff;
	background-color: #000;
	padding: 5px;
}

.loosebutton:hover{
	cursor: pointer;
}

/* depricated? much of this is... */
.nativewrap {
	position: absolute;
	width: 500px; /* many sets with js */
	color: #353a42;
	background-color: #d5dfef;
}

.nativeheader {
	background-color: green;
	padding: 2px;
	color: white;
}

.resizehandle {
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: se-resize;
}

.resizehandle:active {
	cursor: grab;
}

.uidiv {
	width: 396px;
	padding-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}

textarea {
	resize: none;
}

/*
.state li:hover {
	background-color: #303030;
}
*/

.stateItem {
	margin: 3px;
}

.stateItem input {
	background-color: #1a1a1a;
	color: white;
	font-size: 12px;
	width: 70%;
	margin-bottom: 2px;
	margin-top: 4px;
	padding: 2px;
	border: 1px solid black;
	border-radius: 3px;
}

.stateNumInput input {
	float: right;
	clear: both;
	align: right;
}

.stateBooleanItem{
	padding-top: 8px;
	padding-bottom: 8px;
}

.stateBooleanItem:hover{
	background-color: #1a1a1a;
	cursor: pointer;
}

.dg.a {
	margin-right: 0px;
}

.clear {
	clear: both;
}

ul {
	list-style-type: none;
	font-size: 13px;
	font-weight: bold;
	color: #eee;
	padding: 11px 0 0 5px;
	margin: 0px;
}

li {
	list-style-type: none;
	font-weight: normal;
	font-style: none;
	color: #eee;
	font-size: 13px;
	padding: 7px 5px 6px 5px;
}

li.highlighted{
	background-color: #969696;
}

li:hover{
	background-color: #969696;
	cursor: pointer;
}

li:active{
	background-color: #d1d1d1;
}

.contextTitle {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #eee;
	padding: 7px 5px 6px 5px;
}


/*
.contextTitle:hover {
	background-color: #969696;
	cursor: grab;
}
*/

.contextTitle:active {
	background-color: #d1d1d1;
	cursor: grabbing;
}

.contextmenu {
	position: absolute;
	overflow: hidden;
	width: 245px;
  background-color: #303030;
  color: #eee;
}

.contextmenu input {
	background-color: #1a1a1a;
	color: #fcd17b;
	font-size: 12px;
	width: 70%;
	margin-bottom: 2px;
	padding: 2px;
	border: 1px solid black;
	border-radius: 3px;
}

/* for the linechart, should belong somewhere related */

.line {
  fill: none;
  stroke: black;
  stroke-width: 4px;
}

/* USING THESE WITHIN BOYOS */

.txt{
	padding: 10px;
	font-size: 15px;
	width: 265px;
	background-color: #95ddf9;
}

.btn {
	padding: 10px;
	font-size: 15px;
	width: 265px;
	background-color: #95ddf9;
}

.btn:hover{
	background-color: #bde8f9;
	cursor: pointer;
}

.btn:active{
	background-color: #fff;
}

.txt {
	font-size: 15px;
	padding: 10px;
}
